* {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

.titleContainer{
    padding-top: 40px;
}

#light .Title{
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: black
}

#dark .Title{
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: white
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#light .DirectionsContainer{
    width: 300px;
    height: 300px;
    background-color: #223843;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

#dark .DirectionsContainer{
    width: 300px;
    height: 300px;
    background-color: #81A684;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}




ul {
    list-style: none;
    width: 250px;
}

ul li {
    width: 100%;
    margin: 3px 0;
    border-radius: 5px;
    transition: 0.3s all ease;
    background: linear-gradient(135deg, #08367a, #250909);
}

ul li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    letter-spacing: 1px;
}

ul li:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    transform: scale(1.2);
}

ul li:hover a {
    text-align: right;
    animation: textAni 0.3s linear;
}

@keyframes textAni {
    0%, 100% {
        opacity: 1;
        letter-spacing: 1px;
    }

    50% {
        opacity: 1;
        letter-spacing: 100px;
    }
}
