*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light: white;
    --dark: black;
}

.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: Lato, sans-serif;
}


#light { 
    background-color: #EFF1F3;
}

#dark { 
    background-color: #0E0F19;
}

#light .nombre_switch {
    color: #fff;
    
}

#dark .nombre_switch {
     color: #fff;
     
}


.App  {
   
    display: flex;
}
#light .switch-container {
    align-items: center;
    justify-content: center;
    margin: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    background-color: #223843;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    border: 1px solid #fff;
    border-color: rgb(112, 245, 51);
    box-shadow: #00ff00 0px 0px 10px 0px;
}

#dark .switch-container {
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: #924200;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        border: 1px solid #fff;
        border-color: #ffe23c;
        box-shadow: #ffd902 0px 0px 10px 0px;
    
}