*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light: white;
    --dark: black;
}



.App {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: Lato, sans-serif;
}


#light { 
    background-color: #EFF1F3;
}

#dark { 
    background-color: #0E0F19;
}